fastapi
uvicorn[standard]
sqlalchemy
geoalchemy2[shapely]
psycopg2-binary
alembic
python-dotenv
sqlmodel
passlib[bcrypt]
python-jose[cryptography]
pydantic-settings
python-multipart
Authlib
itsdangerous
boto3
httpx